<web-app>
<servlet>
<servlet-name>m1</servlet-name>
<servlet-class>SecondServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>m1</servlet-name>
<url-pattern>/second</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>m2</servlet-name>
<servlet-class>ThirdServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>m2</servlet-name>
<url-pattern>/third</url-pattern>

</servlet-mapping>

<servlet>
<servlet-name>m3</servlet-name>
<servlet-class>ShowServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>m3</servlet-name>
<url-pattern>/show</url-pattern>

</servlet-mapping>



</web-app>